In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv(r"\Users\kandy\Downloads\FoodBalanceSheets_E_Africa_NOFLAG (2).csv")

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

QUESTION 11

In [19]:
df.groupby(["Item"])["Y2014"].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [20]:
df.groupby(["Item"])["Y2017"].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

QUESTION 12

In [4]:
df["Y2015"].mean()

135.23596649549626

In [5]:
df["Y2015"].std()

1603.4039839425013

QUESTION 13

In [29]:
df["Y2016"].isna().sum()

1535

In [34]:
df1 = (df['Y2016'].isnull().sum()/len(df['Y2016']))*100

In [36]:
df1

2.5187470259094566

In [35]:
round(df1,2)

2.52

QUESTION 15

In [45]:
df.groupby(["Element"])[["Y2014","Y2016","Y2017","Y2015"]].sum()

,Y2014,Y2016,Y2017,Y2015
Element,,,,
Domestic supply quantity,1996716.35,2044842.70,2088198.10,2021493.55
Export Quantity,150020.64,151920.46,182338.80,157614.47
Fat supply quantity (g/capita/day),10225.56,10102.77,10253.84,10235.74
Feed,216927.89,228958.65,223705.68,225050.22
Food,1212332.49,1247022.17,1258888.28,1232361.10
Food supply (kcal/capita/day),454257.00,451810.00,454681.00,453383.00
Food supply quantity (kg/capita/yr),49650.63,48985.28,48690.04,49345.13
Import Quantity,274144.48,286582.78,294559.09,267018.46
Losses,153223.00,157787.00,160614.00,155439.00
Other uses (non-food),78718.13,69563.68,91645.97,66254.41
Processing,282923.00,280631.00,292836.00,287929.00
Production,1931287.75,1943537.15,2030056.89,1947019.39
Protein supply quantity (g/capita/day),11836.46,11779.69,11842.45,11833.95
Residuals,30149.00,37224.00,35500.00,30045.00
Seed,21922.92,23389.20,24870.14,23976.82
Stock Variation,58749.83,33140.12,54316.91,34910.99
Total Population - Both sexes,1031585.00,1085107.00,1112641.00,1058081.00
Tourist consumption,416.00,89.00,91.00,349.00

QUESTION 16

In [26]:
df.groupby(["Element"])["Y2014"].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

QUESTION 17

In [27]:
df.groupby(["Element"])["Y2018"].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

QUESTION 18

In [28]:
df.groupby(["Element"])["Y2018"].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

QUESTION 19

In [6]:
df1= df[df["Area"] == "Algeria"]

In [7]:
df1.groupby(["Element"])["Y2018"].sum()

Element
Domestic supply quantity                  90023.42
Export Quantity                             811.54
Fat supply quantity (g/capita/day)          309.09
Feed                                      10668.00
Food                                      63736.33
Food supply (kcal/capita/day)             13288.00
Food supply quantity (kg/capita/yr)        1509.28
Import Quantity                           36238.29
Losses                                     7708.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Production                                60766.67
Protein supply quantity (g/capita/day)      367.28
Residuals                                   630.00
Seed                                        825.00
Stock Variation                            6172.00
Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64

QUESTION 20

In [14]:
df["Area"].nunique()

49